.container{
    display:flex;
    flex-flow:row wrap;
    justify-content:space-around;
    align-content: flex-start;
    overflow:auto;
    width:940px;
    margin:auto;
    height: 100%;
}
#score{
    width:100%;
    text-align:center;
    align-content:center;
}
#instructions{
    width:100%;
    text-align:center;
    align-content:center;
}